$pink: #e91e63;
$grey: #3c4858;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  .image-hero {
    background-image: url("../static/images/mountains.jpg");
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    height: 85vh;
    width: 100vw;
    z-index: -1;
  }

  .image-overlay {
    height: 85vh;
    position: absolute;
    background-color: black;
    width: 100vw;
    top: 0;
    z-index: -2;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 10vw;
    color: white;
    z-index: 1;

    .logo {
      font-weight: lighter;
      font-size: 20px;
    }

    .navigation {
      font-weight: 300;
      font-size: 12px;

      a {
        padding: 0 14px;
        border-radius: 4px;
        transition: ease-in-out 0.2s;
        padding: 18px 12px;
      }
      a:hover {
        background-color: grey;
        opacity: 0.8;
      }

      .more-btn {
        background-color: $pink;
        border-radius: 30px;
        font-size: 12px;
        padding: 18px 23px;
        border: none;
        color: white;
        margin-left: 5px;
      }
    }
  }

  .homepage-hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;

    .heading {
      font-size: 72px;
      margin-top: 24vh;
      margin-bottom: 4vh;
      font-weight: 600;
      letter-spacing: 2px;
    }

    .sub-heading {
      font-size: 20px;
    }

    .see-more-btn {
      margin-top: 8vh;

      button {
        background-color: $pink;
        border: none;
        color: white;
        border-radius: 4px;
        padding: 20px 35px;
      }
    }
  }
}
